.search-box button {
    height: 40px; 
    width: 50px;  
    cursor: pointer;
    border-radius: 10px;
    background-color: white; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.search-box input[type="text"]{
    width: 35%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border-color: black;
}
.menu-toggle button {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    cursor: pointer;
    background-color: none;
    background: none;
    border: none;
}

.menu-toggle {
    
    width: 10%;
    height: 100%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#sidebar h2 {
    /* background-color: lightgray; */
    box-sizing: border-box;
    border: none;
    margin-left: 15%;
    margin-right: 73.5%;
}
.fa-solid.fa-gear {
    font-size: 20px;
    margin-left: 10px;
    background-color: white;
}


